<mat-card>
  <mat-grid-list cols="4" rowHeight="4:1">
    <mat-grid-tile>
      <mat-form-field appearance="fill">
        <mat-label>Date From</mat-label>
        <input [(ngModel)]="selectedDateFrom" [matDatepicker]="dateFrom" matInput name="selectedDateFrom">
        <mat-datepicker-toggle [for]="dateFrom" matSuffix></mat-datepicker-toggle>
        <mat-datepicker #dateFrom></mat-datepicker>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field appearance="fill">
        <mat-label>Date To</mat-label>
        <input [(ngModel)]="selectedDateTo" [matDatepicker]="dateTo" matInput name="selectedDateTo">
        <mat-datepicker-toggle [for]="dateTo" matSuffix></mat-datepicker-toggle>
        <mat-datepicker #dateTo></mat-datepicker>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field appearance="fill">
        <input [(ngModel)]="selectedCustomer" matInput name="selectedCustomer" placeholder="Customer Name" type="text">
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <button (click)="loadTableData()" color="primary" mat-button>
        <mat-icon aria-hidden="false" aria-label="Profile">search</mat-icon>&nbsp;&nbsp;Search
      </button>
    </mat-grid-tile>
  </mat-grid-list>
  <table [dataSource]="dataSource" class="mat-elevation-z8" mat-table>
    <!-- Position Column -->
    <ng-container matColumnDef="firstName">
      <th *matHeaderCellDef mat-header-cell> First Name</th>
      <td *matCellDef="let element" mat-cell> {{element.firstName}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="lastName">
      <th *matHeaderCellDef mat-header-cell> Last Name</th>
      <td *matCellDef="let element" mat-cell> {{element.lastName}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="email">
      <th *matHeaderCellDef mat-header-cell> Email</th>
      <td *matCellDef="let element" mat-cell> {{element.email}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="country">
      <th *matHeaderCellDef mat-header-cell> Country</th>
      <td *matCellDef="let element" mat-cell> {{element.country}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="createdDateTime">
      <th *matHeaderCellDef mat-header-cell> Profile Created</th>
      <td *matCellDef="let element" mat-cell> {{element.createdDateTime}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="lastUpdatedDateTime">
      <th *matHeaderCellDef mat-header-cell> Last Updated</th>
      <td *matCellDef="let element" mat-cell> {{element.lastUpdatedDateTime}} </td>
    </ng-container>

    <ng-container matColumnDef="viewOtp">
      <th *matHeaderCellDef mat-header-cell> View OTP</th>
      <td *matCellDef="let element" mat-cell>
        <button (click)="viewOtpDetails(element.email)" color="primary" mat-button style="float: right">
          <mat-icon aria-hidden="false" aria-label="Otp">message</mat-icon>&nbsp;&nbsp;View OTP
        </button>
      </td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
  </table>
</mat-card>

