.mat-card-center-align {
  margin: 10% auto;
  width: 25%;
  border-radius: 15px;
}

.login-card {
  top: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.text-align-center {
  text-align: center;
}

mat-card-content {
  margin-top: 50px;
}

mat-form-field {
  display: block;
  width: 80%;
  margin: 20px auto;
}

.mat-button-lg {
  width: 100%;
}

.login-avatar {
  background-image: url('https://image.shutterstock.com/image-vector/male-silhouette-avatar-profile-picture-260nw-199246382.jpg');
  background-size: cover;
  margin: 0 auto;
}
.profile-cover {
  background-image: url("http://covertimeline.com//app/template/587.jpg");
  background-size: cover;
  margin: 0 auto;
}
