<div class="login-card">
  <mat-card class="mat-card-center-align">
    <div class="profile-cover">
      <img class="login-avatar" mat-card-sm-image style="margin: 0 auto; display: flex; border-radius: 60%">
    </div>
    <br>
    <mat-card-title class="text-align-center">User Login</mat-card-title>
    <mat-card-subtitle class="text-align-center">{{userName}}</mat-card-subtitle>
    <mat-card-content>
      <form>
        <mat-form-field>
          <input [(ngModel)]="userName" matInput name="userName" placeholder="User Name" type="text">
        </mat-form-field>
        <mat-form-field>
          <input [(ngModel)]="password" matInput name="password" placeholder="Password" type="password">
        </mat-form-field>
        <div style="text-align: center">
          <label *ngIf="error" [ngModel]="error" name="error"
                 style="color: red; text-align: center">{{responseMsg}}</label>
          <label *ngIf="warning" [(ngModel)]="warning" name="warning"
                 style="color: yellow; text-align: center">{{responseMsg}}</label>
        </div>
        <br><br>
        <button (click)="authenticateAdmin()" class="mat-button-lg" color="primary" mat-button type="button">Log In
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
