<mat-card>
  <mat-grid-list cols="5" rowHeight="4:1">
    <mat-grid-tile>
      <mat-form-field appearance="fill">
        <mat-label>Please Select Role :</mat-label>
        <mat-select [(ngModel)]="selectedRoleType" name="selectedRoleType">
          <mat-option *ngFor="let role of roleTypes" [value]="role.value">
            {{role.text}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field appearance="fill">
        <mat-label>Date From</mat-label>
        <input [(ngModel)]="selectedDateFrom" [matDatepicker]="dateFrom" matInput name="selectedDateFrom">
        <mat-datepicker-toggle [for]="dateFrom" matSuffix></mat-datepicker-toggle>
        <mat-datepicker #dateFrom></mat-datepicker>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field appearance="fill">
        <mat-label>Date To</mat-label>
        <input [(ngModel)]="selectedDateTo" [matDatepicker]="dateTo" matInput name="selectedDateTo">
        <mat-datepicker-toggle [for]="dateTo" matSuffix></mat-datepicker-toggle>
        <mat-datepicker #dateTo></mat-datepicker>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <button (click)="loadTableData()" color="primary" mat-button>
        <mat-icon aria-hidden="false" aria-label="Profile">search</mat-icon>&nbsp;&nbsp;Search
      </button>
    </mat-grid-tile>
    <mat-grid-tile *ngIf="isAuthorizeToAddUsers">
      <button (click)="openDialog()" color="primary" mat-button style="float: right">
        <mat-icon aria-hidden="false" aria-label="Profile">person_add</mat-icon>&nbsp;&nbsp;Add New User
      </button>
    </mat-grid-tile>
  </mat-grid-list>
  <table [dataSource]="dataSource" class="mat-elevation-z8" mat-table>
    <!-- Position Column -->
    <ng-container matColumnDef="name">
      <th *matHeaderCellDef mat-header-cell> Name</th>
      <td *matCellDef="let element" mat-cell> {{element.name}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="email">
      <th *matHeaderCellDef mat-header-cell> Email</th>
      <td *matCellDef="let element" mat-cell> {{element.email}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="roleType">
      <th *matHeaderCellDef mat-header-cell> User Role</th>
      <td *matCellDef="let element" mat-cell> {{element.roleType}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="userName">
      <th *matHeaderCellDef mat-header-cell> User Name</th>
      <td *matCellDef="let element" mat-cell> {{element.userName}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="createdDateTime">
      <th *matHeaderCellDef mat-header-cell> Profile Created</th>
      <td *matCellDef="let element" mat-cell> {{element.createdDateTime}} </td>
    </ng-container>

    <ng-container matColumnDef="lastUpdatedUser">
      <th *matHeaderCellDef mat-header-cell> Last Updated User</th>
      <td *matCellDef="let element" mat-cell> {{element.lastUpdatedUser}} </td>
    </ng-container>

    <ng-container matColumnDef="lastUpdatedDateTime">
      <th *matHeaderCellDef mat-header-cell> Last Updated Date Time</th>
      <td *matCellDef="let element" mat-cell> {{element.lastUpdatedDateTime}} </td>
    </ng-container>

    <ng-container *ngIf="isAuthorizeToResetPass" matColumnDef="resetPass">
      <th *matHeaderCellDef mat-header-cell> Reset Password</th>
      <td *matCellDef="let element" mat-cell>
        <button (click)="resetPass()" color="primary" mat-button style="float: right">
          <mat-icon aria-hidden="false" aria-label="Otp">edit</mat-icon>&nbsp;&nbsp;Reset
        </button>
      </td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
  </table>
</mat-card>

