.text-align-center {
  text-align: center;
}

.mat-card-left-align {
  margin: auto;
  width: 400px;
  border-radius: 20px;
}

mat-card-content {
  margin-top: 50px;
  overflow-y: auto;
  height: 500px;
}

mat-form-field {
  display: block;
  width: 80%;
  margin: 20px auto;
}

.mat-button-lg {
  width: 100%;
}
