<!--  <mat-dialog-content class="mat-typography">-->
<mat-card class="mat-card-left-align">
  <button mat-button style="float: right">
    <mat-icon aria-hidden="false" aria-label="Close" color="warn" style="color: red">
      close
    </mat-icon>
  </button>
  <br><br>
  <mat-card-title *ngIf="isUpdateData" class="text-align-center">Update Train Details</mat-card-title>
  <mat-card-title *ngIf="!isUpdateData" class="text-align-center">Save Train Details</mat-card-title>
  <mat-card-content>
    <form>
      <mat-form-field>
        <input [(ngModel)]="trainName" matInput name="trainName" placeholder="Train Name" type="text">
      </mat-form-field>
      <mat-form-field>
        <input [(ngModel)]="stationFrom" matInput name="stationFrom" placeholder="Station From" type="text">
      </mat-form-field>
      <mat-form-field>
        <input [(ngModel)]="nextStation" matInput name="nextStation" placeholder="Next Station" type="text">
      </mat-form-field>
      <mat-form-field>
        <input [(ngModel)]="destination" matInput name="destination" placeholder="Destination" type="text">
      </mat-form-field>
      <mat-form-field>
        <input [(ngModel)]="trainCategory" matInput name="trainCategory" placeholder="Train Category" type="text">
      </mat-form-field>
      <mat-form-field>
        <input [(ngModel)]="latitude" matInput name="latitude" placeholder="Latitude" type="text">
      </mat-form-field>
      <mat-form-field>
        <input [(ngModel)]="longitude" matInput name="longitude" placeholder="Longitude" type="text">
      </mat-form-field>
      <mat-form-field>
        <input [(ngModel)]="startedTime" matInput name="startedTime" placeholder="Started Time" type="date">
      </mat-form-field>
      <mat-form-field>
        <input [(ngModel)]="endTime" matInput name="endTime" placeholder="End Time" type="date">
      </mat-form-field>
      <mat-form-field>
        <input [(ngModel)]="timeDuration" matInput name="timeDuration" placeholder="Time Duration" type="date">
      </mat-form-field>
      <br>
      <button (click)="saveOrUpdateDetails()" *ngIf="isUpdateData" class="mat-button-lg" color="primary" mat-button
              type="button">Update Train Details
      </button>
      <button (click)="saveOrUpdateDetails()" *ngIf="!isUpdateData" class="mat-button-lg" color="primary" mat-button
              type="button">Save Train Details
      </button>
    </form>
  </mat-card-content>
</mat-card>
<!--  </mat-dialog-content>-->
