<mat-card class="mat-card-left-align">
  <!--  <button mat-button style="float: right">-->
  <!--    <mat-icon aria-hidden="false" aria-label="Close" style="color: red" color="warn">-->
  <!--      close-->
  <!--    </mat-icon>-->
  <!--  </button>-->
  <!--  <br><br>-->
  <mat-card-content>
    <table [dataSource]="dataSource" class="mat-elevation-z8" mat-table>
      <!-- Position Column -->
      <ng-container matColumnDef="trainId">
        <th *matHeaderCellDef mat-header-cell> Train Id</th>
        <td *matCellDef="let element" mat-cell> {{element.trainId}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="trainCategory">
        <th *matHeaderCellDef mat-header-cell> Train Category</th>
        <td *matCellDef="let element" mat-cell> {{element.trainCategory}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="status">
        <th *matHeaderCellDef mat-header-cell> Status</th>
        <td *matCellDef="let element" mat-cell>
          <div *ngIf="'1' === element.status" class="d-inline-block error text-center"> Delay</div>
          <div *ngIf="'0' === element.status" class="d-inline-block success text-center"> Not Delay</div>
        </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="delayMinutes">
        <th *matHeaderCellDef mat-header-cell> Delay (Minutes)</th>
        <td *matCellDef="let element" mat-cell> {{element.delayMinutes}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="stationFrom">
        <th *matHeaderCellDef mat-header-cell> Start Station</th>
        <td *matCellDef="let element" mat-cell> {{element.stationFrom}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="nextStation">
        <th *matHeaderCellDef mat-header-cell> Next Station</th>
        <td *matCellDef="let element" mat-cell> {{element.nextStation}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="destination">
        <th *matHeaderCellDef mat-header-cell> Destination</th>
        <td *matCellDef="let element" mat-cell> {{element.destination}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="latitude">
        <th *matHeaderCellDef mat-header-cell> Latitude</th>
        <td *matCellDef="let element" mat-cell> {{element.latitude}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="longitude">
        <th *matHeaderCellDef mat-header-cell> Longitude</th>
        <td *matCellDef="let element" mat-cell> {{element.longitude}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="startedTime">
        <th *matHeaderCellDef mat-header-cell> Started At</th>
        <td *matCellDef="let element" mat-cell> {{element.startedTime}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="endTime">
        <th *matHeaderCellDef mat-header-cell> End At</th>
        <td *matCellDef="let element" mat-cell> {{element.endTime}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="timeDuration">
        <th *matHeaderCellDef mat-header-cell> Time Duration</th>
        <td *matCellDef="let element" mat-cell> {{element.timeDuration}} </td>
      </ng-container>

      <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
      <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
    </table>
  </mat-card-content>
</mat-card>
