<mat-card class="mat-card-left-align">
  <mat-card-content>
    <mat-grid-list cols="5" rowHeight="4:1">
      <mat-grid-tile>
        <mat-form-field appearance="fill">
          <mat-label>Please Select Country :</mat-label>
          <mat-select [(ngModel)]="selectedCountry" name="selectedCountry">
            <mat-option *ngFor="let country of countries" [value]="country.alpha3Code">
              {{country.countryName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field appearance="fill">
          <mat-label>Date From</mat-label>
          <input [(ngModel)]="selectedDateFrom" [matDatepicker]="dateFrom" matInput name="selectedDateFrom">
          <mat-datepicker-toggle [for]="dateFrom" matSuffix></mat-datepicker-toggle>
          <mat-datepicker #dateFrom></mat-datepicker>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field appearance="fill">
          <mat-label>Date To</mat-label>
          <input [(ngModel)]="selectedDateTo" [matDatepicker]="dateTo" matInput name="selectedDateTo">
          <mat-datepicker-toggle [for]="dateTo" matSuffix></mat-datepicker-toggle>
          <mat-datepicker #dateTo></mat-datepicker>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <button (click)="loadTableData()" color="primary" mat-button>
          <mat-icon aria-hidden="false" aria-label="Profile">search</mat-icon>&nbsp;&nbsp;Search
        </button>
      </mat-grid-tile>
      <mat-grid-tile>
        <button (click)="openDialog()" color="primary" mat-button style="float: right">
          <mat-icon aria-hidden="false" aria-label="Profile">upload</mat-icon>&nbsp;&nbsp;Upload Data
        </button>
      </mat-grid-tile>
    </mat-grid-list>
    <span *ngIf="lastUpdatedDateTime" [(ngModel)]="lastUpdatedDateTime" name="lastUpdatedDateTime" ngDefaultControl
          style="padding: 3px;font-size: 15px; margin-top: 30px; font-weight: bold; background-color: gold">Data Last Updated as at {{lastUpdatedDateTime}}</span>
    <br><br>
    <table [dataSource]="dataSource" class="mat-elevation-z8" mat-table>
      <!-- Position Column -->
      <ng-container matColumnDef="country">
        <th *matHeaderCellDef mat-header-cell> Country</th>
        <td *matCellDef="let element" mat-cell> {{element.country}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="status">
        <th *matHeaderCellDef mat-header-cell> Status</th>
        <td *matCellDef="let element" mat-cell> {{element.status}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="createdDateTime">
        <th *matHeaderCellDef mat-header-cell> Created At</th>
        <td *matCellDef="let element" mat-cell> {{element.createdDateTime}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="lastUpdatedUser">
        <th *matHeaderCellDef mat-header-cell> Last Updated User</th>
        <td *matCellDef="let element" mat-cell> {{element.lastUpdatedUser}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="lastUpdatedDateTime">
        <th *matHeaderCellDef mat-header-cell> Last Updated</th>
        <td *matCellDef="let element" mat-cell> {{element.lastUpdatedDateTime}} </td>
      </ng-container>

      <ng-container matColumnDef="dataSetDetails">
        <th *matHeaderCellDef mat-header-cell> View Data</th>
        <td *matCellDef="let element" mat-cell>
          <button (click)="viewDetails(element.dataSetDetails)" color="primary" mat-button style="float: right">
            <mat-icon aria-hidden="false" aria-label="Profile">article</mat-icon>&nbsp;&nbsp;View Data
          </button>
        </td>
      </ng-container>

      <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
      <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
    </table>
  </mat-card-content>
</mat-card>
