<mat-card>
  <mat-grid-list cols="4" rowHeight="2:1" style="margin-bottom: 30px">
    <mat-grid-tile style="background-color: transparent;">
      <!--  Users-->
      <mat-card class="card" style="background-color: greenyellow;margin: auto!important;">
        <mat-card-header class="card-header card-header-warning card-header-icon">
          <mat-icon aria-hidden="false" aria-label="Feedbacks" style="float: left">supervised_user_circle</mat-icon>
          <h3 class="card-title">{{ thisMonthAdminUserCount }} Users &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h3>
        </mat-card-header>
        <mat-card-content>
          <p class="card-category" style="float: bottom; font-size: 16px">{{ thisMonthAdminUserCount }} <small>New Users
            for this Month</small></p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile style="background-color: transparent;">
      <!-- Customers-->
      <mat-card class="card" style="background-color: yellow;margin: auto!important;">
        <mat-card-header class="card-header card-header-warning card-header-icon">
          <mat-icon aria-hidden="false" aria-label="Feedbacks" style="float: left">people</mat-icon>
          <h3 class="card-title">{{ thisMonthCustomersCount }} Customers &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h3>
        </mat-card-header>
        <mat-card-content>
          <p class="card-category" style="float: bottom; font-size: 16px">{{ thisMonthCustomersCount }} <small>New
            Customers for this Month</small></p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile style="background-color: transparent; color: black">
      <!--      Schedules-->
      <mat-card class="card" style="background-color: limegreen;margin: auto!important;">
        <mat-card-header class="card-header card-header-warning card-header-icon">
          <mat-icon aria-hidden="false" aria-label="Feedbacks" style="float: left">dashboard</mat-icon>
          <h3 class="card-title">{{ thisMonthSchedules }} Schedules &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h3>
        </mat-card-header>
        <mat-card-content>
          <p class="card-category" style="float: bottom; font-size: 16px">{{ thisMonthSchedules }} <small>New Schedules
            for this Month</small></p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile style="background-color: transparent;">
      <!-- Data-->
      <mat-card class="card" style="background-color: cornflowerblue;margin: auto!important;">
        <mat-card-header class="card-header card-header-warning card-header-icon">
          <mat-icon aria-hidden="false" aria-label="Feedbacks" style="float: left">cloud_upload</mat-icon>
          <h3 class="card-title">{{ thisMonthDatasets }} Datasets &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h3>
        </mat-card-header>
        <mat-card-content>
          <p class="card-category" style="float: bottom; font-size: 16px">{{ thisMonthDatasets }} <small>New Datasets
            for this Month</small></p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>

  <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile style="background-color: transparent; color: black">
      <!--      Line Chart of Training Data Accuracy-->
      <p>Data Accuracy</p>
      <div class="divChart">
        <canvas height="400" id="lineChart" width="400"></canvas>
      </div>
    </mat-grid-tile>
    <mat-grid-tile style="background-color: transparent;">
      <!--      <button (click)="showAlert()" mat-button>Show Alert</button>-->
      <p>Customers</p>
      <div class="divChart">
        <canvas height="400" id="pieChart" width="400"></canvas>
      </div>
    </mat-grid-tile>
  </mat-grid-list>

  <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile style="background-color: transparent; color: coral">Google Map Showing Countries</mat-grid-tile>
    <mat-grid-tile>
      <table [dataSource]="dataSource" class="mat-elevation-z8" mat-table>
        <!-- Position Column -->
        <ng-container matColumnDef="position">
          <th *matHeaderCellDef mat-header-cell> No.</th>
          <td *matCellDef="let element" mat-cell> {{element.position}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th *matHeaderCellDef mat-header-cell> Name</th>
          <td *matCellDef="let element" mat-cell> {{element.name}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="weight">
          <th *matHeaderCellDef mat-header-cell> Weight</th>
          <td *matCellDef="let element" mat-cell> {{element.weight}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="symbol">
          <th *matHeaderCellDef mat-header-cell> Symbol</th>
          <td *matCellDef="let element" mat-cell> {{element.symbol}} </td>
        </ng-container>

        <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
        <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
      </table>
    </mat-grid-tile>
  </mat-grid-list>
</mat-card>
