<!--  <mat-dialog-content class="mat-typography">-->
<mat-card class="mat-card-left-align">
  <button mat-button style="float: right">
    <mat-icon aria-hidden="false" aria-label="Close" color="warn" style="color: red">
      close
    </mat-icon>
  </button>
  <br><br>
  <mat-card-title class="text-align-center">Reset Password</mat-card-title>
  <mat-card-content>
    <form>
      <mat-form-field>
        <input [(ngModel)]="userName" matInput name="userName" placeholder="User Name" type="text">
      </mat-form-field>
      <mat-form-field>
        <input [(ngModel)]="oldPassword" matInput name="oldPassword" placeholder="Old Password" type="password">
      </mat-form-field>
      <mat-form-field>
        <input [(ngModel)]="newPassword" matInput name="newPassword" placeholder="New Password" type="password">
      </mat-form-field>
      <mat-form-field>
        <input [(ngModel)]="requestedUserPassword" matInput name="requestedPassword"
               placeholder="Requested User Password" type="password">
      </mat-form-field>
      <br>
      <button (click)="resetPass()" class="mat-button-lg" color="primary" mat-button type="button">Reset Password
      </button>
    </form>
  </mat-card-content>
</mat-card>
<!--  </mat-dialog-content>-->
