<!--  <mat-dialog-content class="mat-typography">-->
<mat-card class="mat-card-left-align">
  <button mat-button style="float: right">
    <mat-icon aria-hidden="false" aria-label="Close" color="warn" style="color: red">
      close
    </mat-icon>
  </button>
  <br><br>
  <mat-card-title class="text-align-center">User Registration</mat-card-title>
  <mat-card-content>
    <form>
      <mat-form-field>
        <input [(ngModel)]="name" matInput name="name" placeholder="Name" type="text">
      </mat-form-field>
      <mat-form-field>
        <input [(ngModel)]="email" matInput name="email" placeholder="Email" type="text">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Please Select Role :</mat-label>
        <mat-select [(ngModel)]="selectedRoleType" name="selectedRoleType">
          <mat-option *ngFor="let role of roleTypes" [value]="role.value">
            {{role.text}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input [(ngModel)]="userName" matInput name="userName" placeholder="User Name" type="text">
      </mat-form-field>
      <mat-form-field>
        <input [(ngModel)]="password" matInput name="password" placeholder="Password" type="password">
      </mat-form-field>
      <br>
      <button (click)="register()" class="mat-button-lg" color="primary" mat-button type="button">Register</button>
    </form>
  </mat-card-content>
</mat-card>
<!--  </mat-dialog-content>-->
