<mat-card>
  <mat-grid-list cols="5" rowHeight="4:1">
    <mat-grid-tile>
      <mat-form-field appearance="fill">
        <mat-label>Please Select Country :</mat-label>
        <mat-select [(ngModel)]="selectedCountry" name="selectedCountry">
          <mat-option *ngFor="let country of countries" [value]="country.alpha3Code">
            {{country.countryName}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field appearance="fill">
        <mat-label>Date From</mat-label>
        <input [(ngModel)]="selectedDateFrom" [matDatepicker]="dateFrom" matInput name="selectedDateFrom">
        <mat-datepicker-toggle [for]="dateFrom" matSuffix></mat-datepicker-toggle>
        <mat-datepicker #dateFrom></mat-datepicker>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field appearance="fill">
        <mat-label>Date To</mat-label>
        <input [(ngModel)]="selectedDateTo" [matDatepicker]="dateTo" matInput name="selectedDateTo">
        <mat-datepicker-toggle [for]="dateTo" matSuffix></mat-datepicker-toggle>
        <mat-datepicker #dateTo></mat-datepicker>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <button (click)="loadTableData()" color="primary" mat-button>
        <mat-icon aria-hidden="false" aria-label="Profile">search</mat-icon>&nbsp;&nbsp;Search
      </button>
    </mat-grid-tile>
    <mat-grid-tile *ngIf="isAuthorizeToAddUsers">
      <button (click)="saveTrainDetails()" color="primary" mat-button style="float: right">
        <mat-icon aria-hidden="false" aria-label="Profile">train</mat-icon>&nbsp;&nbsp;Add New Train
      </button>
    </mat-grid-tile>
  </mat-grid-list>

  <table [dataSource]="dataSource" class="mat-elevation-z8" mat-table>
    <!-- Position Column -->
    <ng-container matColumnDef="trainId">
      <th *matHeaderCellDef mat-header-cell> Train Id</th>
      <td *matCellDef="let element" mat-cell> {{element.trainId}} </td>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="country">
      <th *matHeaderCellDef mat-header-cell> Country</th>
      <td *matCellDef="let element" mat-cell> {{element.country}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="trainCategory">
      <th *matHeaderCellDef mat-header-cell> Train Category</th>
      <td *matCellDef="let element" mat-cell> {{element.trainCategory}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="status">
      <th *matHeaderCellDef mat-header-cell> Status</th>
      <td *matCellDef="let element" mat-cell>
        <div *ngIf="'1' === element.status" class="d-inline-block error text-center"> Delay</div>
        <div *ngIf="'0' === element.status" class="d-inline-block success text-center"> Not Delay</div>
      </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="delayMinutes">
      <th *matHeaderCellDef mat-header-cell> Delay (Minutes)</th>
      <td *matCellDef="let element" mat-cell> {{element.delayMinutes}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="stationFrom">
      <th *matHeaderCellDef mat-header-cell> Start Station</th>
      <td *matCellDef="let element" mat-cell> {{element.stationFrom}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="nextStation">
      <th *matHeaderCellDef mat-header-cell> Next Station</th>
      <td *matCellDef="let element" mat-cell> {{element.nextStation}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="destination">
      <th *matHeaderCellDef mat-header-cell> Destination</th>
      <td *matCellDef="let element" mat-cell> {{element.destination}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="latitude">
      <th *matHeaderCellDef mat-header-cell> Latitude</th>
      <td *matCellDef="let element" mat-cell> {{element.latitude}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="longitude">
      <th *matHeaderCellDef mat-header-cell> Longitude</th>
      <td *matCellDef="let element" mat-cell> {{element.longitude}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="startedTime">
      <th *matHeaderCellDef mat-header-cell> Started At</th>
      <td *matCellDef="let element" mat-cell> {{element.startedTime}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="endTime">
      <th *matHeaderCellDef mat-header-cell> End At</th>
      <td *matCellDef="let element" mat-cell> {{element.endTime}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="timeDuration">
      <th *matHeaderCellDef mat-header-cell> Time Duration</th>
      <td *matCellDef="let element" mat-cell> {{element.timeDuration}} </td>
    </ng-container>

    <ng-container matColumnDef="editDetails">
      <th *matHeaderCellDef mat-header-cell> Edit Details</th>
      <td *matCellDef="let element" mat-cell>
        <button (click)="editTrainDetails(element)" color="primary" mat-button style="float: right">
          <mat-icon aria-hidden="false" aria-label="Profile">edit</mat-icon>&nbsp;&nbsp;Edit
        </button>
      </td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
  </table>
</mat-card>

