<mat-card class="mat-card-left-align">
  <button mat-button style="float: right">
    <mat-icon aria-hidden="false" aria-label="Close" color="warn" style="color: red">
      close
    </mat-icon>
  </button>
  <br><br>
  <mat-card-title class="text-align-center">Upload Data</mat-card-title>
  <mat-card-subtitle class="text-align-center">Please Choose CSV Format Document which Contains Your DataSet
  </mat-card-subtitle>
  <mat-card-content>
    <mat-form-field appearance="fill">
      <mat-label>Please Select Country :</mat-label>
      <mat-select [(ngModel)]="selectedCountry" name="selectedCountry">
        <mat-option *ngFor="let country of countries" [value]="country.alpha3Code">
          {{country.countryName}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!--    <input ng2FileSelect id="file-upload" type="file" accept=".csv" multiple>-->
    <!--    <label style="margin-left: 40px" class="mat-button mat-raised-button mat-primary" for="file-upload">Choose Files</label>-->
    <!--    <button (change)="uploadData($event.target.files)" color="primary" mat-button style="float: right">-->
    <!--      <mat-icon aria-hidden="false" aria-label="Profile">upload</mat-icon>&nbsp;&nbsp;Upload Data-->
    <!--    </button>-->

    <!--    <label for="singleFile">Upload file</label>-->
    <!--    <input [fileUploadInputFor]="fileUploadQueue" accept=".csv" class="mat-button mat-raised-button mat-primary"-->
    <!--           id="singleFile" type="file"/>-->
    <!--    <br>-->

    <!--    <mat-file-upload-queue #fileUploadQueue-->
    <!--                           [fileAlias]="'file'"-->
    <!--                           [httpUrl]="'http://localhost:4000/api/uploadData'">-->

    <!--      <mat-file-upload *ngFor="let file of fileUploadQueue.files; let i = index" [file]="file"-->
    <!--                       [id]="i"></mat-file-upload>-->
    <!--    </mat-file-upload-queue>-->

    <!--    <button (click)="uploadData(fileUploadQueue.files)" class="mat-button-lg" color="primary" mat-button type="button">-->
    <!--      Upload-->
    <!--    </button>-->
    <form enctype="multipart/form-data" method="post"> <!--    action="http://localhost:4000/api/uploadData"-->
      <input (change)="selectFile($event)" accept=".csv" name="file" required type="file">
      <button (click)="upload()" class="mat-button-lg" color="primary" mat-button type="submit">
        <mat-icon aria-hidden="false" aria-label="Profile">upload</mat-icon>&nbsp;&nbsp;Upload Data
      </button>
    </form>
  </mat-card-content>
</mat-card>

