<mat-card class="mat-card-left-align">
  <button mat-button style="float: right">
    <mat-icon aria-hidden="false" aria-label="Close" color="warn" style="color: red">
      close
    </mat-icon>
  </button>
  <br><br>
  <mat-card-content>
    <table [dataSource]="dataSource" class="mat-elevation-z8" mat-table>
      <!-- Position Column -->
      <ng-container matColumnDef="email">
        <th *matHeaderCellDef mat-header-cell> Email</th>
        <td *matCellDef="let element" mat-cell> {{element.email}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="otp">
        <th *matHeaderCellDef mat-header-cell> OTP</th>
        <td *matCellDef="let element" mat-cell> {{element.otp}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="status">
        <th *matHeaderCellDef mat-header-cell> Status</th>
        <td *matCellDef="let element" mat-cell>
          <div *ngIf="'COMPLETED' === element.status" class="d-inline-block success text-center pr-3 pl-3"> Completed
          </div>
          <div *ngIf="'PENDING' === element.status" class="d-inline-block warning text-center pr-3 pl-3"> Pending</div>
        </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="generatedDateTime">
        <th *matHeaderCellDef mat-header-cell> Created DateTime</th>
        <td *matCellDef="let element" mat-cell> {{element.generatedDateTime}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="lastUpdatedDateTime">
        <th *matHeaderCellDef mat-header-cell> Last Updated</th>
        <td *matCellDef="let element" mat-cell> {{element.lastUpdatedDateTime}} </td>
      </ng-container>

      <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
      <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
    </table>
  </mat-card-content>
</mat-card>
