/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "~angular-notifier/styles.css";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.spacer {
  flex: 1 1 auto;
}

table {
  width: 100%;
}


.success {
  color: #ffff;
  background-color: #259818;
  border-radius: 11px;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.start {
  color: #ffff;
  background-color: #1d4ca0;
  border-radius: 11px;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.error {
  color: #ffff;
  background-color: #d02141;
  border-radius: 11px;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.warning {
  color: #ffff;
  background-color: #F29B11;
  border-radius: 11px;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}
