<div class="app-body">
  <!-- Side Nav Bar -->
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport
                 [attr.role]="(isHandset$ | async) ? 'dialog' : 'dialog'"
                 [mode]="(isHandset$ | async) ? 'over' : 'side'"
                 [opened]="(isHandset$ | async) === false" style="background-color: #656161;">
      <mat-toolbar style="background-color: #212121; color: white">TDP-Admin Portal</mat-toolbar>
      <mat-nav-list>
        <a mat-list-item routerLink="dashboard" style="color: white;">
          <mat-icon aria-hidden="false" aria-label="Dashboard">dashboard</mat-icon>&nbsp;&nbsp;Dashboard
        </a>
        <a *ngIf="isAuthorizeToManageUsers" mat-list-item routerLink="manage-users" style="color: white;">
          <mat-icon aria-hidden="false" aria-label="Manage Users">supervised_user_circle</mat-icon>&nbsp;&nbsp;Manage
          Users
        </a>
        <a *ngIf="isAuthorizeToManageCustomers" mat-list-item routerLink="manage-customers" style="color: white;">
          <mat-icon aria-hidden="false" aria-label="Manage Customers">people</mat-icon>&nbsp;&nbsp;Manage Customers
        </a>
        <a *ngIf="isAuthorizeToManageTrains" mat-list-item routerLink="manage-trains" style="color: white;">
          <mat-icon aria-hidden="false" aria-label="Manage Customers">train</mat-icon>&nbsp;&nbsp;Manage
          Trains
        </a>
        <a *ngIf="isAuthorizeToUploadData" mat-list-item routerLink="upload-data" style="color: white;">
          <mat-icon aria-hidden="false" aria-label="Upload Data">cloud_upload</mat-icon>&nbsp;&nbsp;Upload Data
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content style="background-color: white">
      <mat-toolbar style="background-color: #212121; color: white">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span class="spacer"></span>
        <span style="font-size: 17px">{{currentTime}}</span>
        <button [matMenuTriggerFor]="menu" mat-button style="font-size: 17px">
          <mat-icon aria-hidden="false" aria-label="Profile">person</mat-icon>
          <span [(ngModel)]="loggedInUser" name="loggedInUser" ngDefaultControl>@ {{loggedInUser}}</span>
          <mat-icon aria-hidden="false" aria-label="Expand">expand_more</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <!--          <button mat-menu-item>Profile</button>-->
          <button (click)="logOut()" mat-menu-item type="button">Log Out</button>
        </mat-menu>
      </mat-toolbar>
      <!-- Main content -->
      <main class="main" id="main">
        <router-outlet></router-outlet>
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <notifier-container style="right: 0; top: 80px;"></notifier-container> <!-- style="right: 0; top: 80px;"-->
  <!--Footer-->
  <app-footer></app-footer>
</div>
